body {
    background-color: lightblue;
}

#Birth {
    top: 20px;
    background-color: salmon;
    border: 2px solid rgb(170, 71, 60) ;
    font-size: 200%;
    width: 25%;
    height: 50px;
}

#fav {
    font-size: 140%;
}

#name {
    text-align: center;
    margin-top: auto;
    font-size: 140%;
    background: salmon;
    height: 150%;
}